* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #150e28;
}

/* font-family: 'Clash Display', sans-serif; */

button,
a,
select {
  cursor: pointer;
}

input:focus,
select:focus {
  outline: none;
}

a button:hover {
  background: transparent;
  border-radius: 0.25rem;
  border: 1px solid #ff29b9;
}

img {
  z-index: -1;
}
