* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #150e28;
}

/* font-family: 'Clash Display', sans-serif; */

button,
a,
select {
  cursor: pointer;
}

input:focus,
select:focus {
  outline: none;
}

a button:hover {
  background: transparent;
  border-radius: 0.25rem;
  border: 1px solid #ff29b9;
}

img {
  z-index: -1;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated {
  animation: blink 3s infinite; /* Blinking animation with a duration of 1 second */
}
